//----------catalog section-----------//
.catalog {

}
.catalog_content {
    position: relative;
    z-index: 10;
}
.catalog_pretext {
    .pf_reg;
    top: 1.5em;
    color: #7d746f;
    font-size: 1.9em;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 2.6em;
    z-index: 10;
    position: relative;
    a {
        color: #7d746f;
        text-decoration: underline;
    }
}
.catalog_list {
    margin: 0 -10em 0 -9.4em;
    list-style: none;
    text-align: center;
    z-index: 5;
    position: relative;
}
.catalog_item {
    .inlineblock;
    width: 14.93em;
    height: 41em;
    position: relative;
    &:hover {
        .catalog_item_info {
            left: 50%;
            .csstransitions & {
                .opacity(1);
                .transition(opacity 0.5s);
            }
        }
        .catalog_img_hover {
            top: 0;
            .csstransitions & {
                .opacity(1);
                .transition(opacity 0.5s);
            }
        }
        .catalog_info_link {
            display: block;
        }
        .catalog_item_img {
            img:first-child {
                width: 107%;
                left: -3.5%;
                top: -1.5em;
                .small & {
                    top: -12.3em;
                    width: 120%;
                    left: -7%;
                }
            }
        }
    }
}
.catalog_item_img {
    position: absolute;
    left: 50%;
    margin-left: -6.3em;
    width: 11.9em;
    top: 1.2em;
    display: block;
    & > img:first-child {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        .transition(all 0.3s);
        .small & {
            top: -4.2em;
        }
    }
}
.catalog_img_hover {
    display: none;
    position: absolute;
    top: 0;
    top: -99999px;
    left: 50%;
    width: 11.91em;
    margin-left: -5.99em;
    .csstransitions & {
        .opacity(0);
        .transition(opacity 0.5s);
    }
}
.catalog_item_info {
    position: absolute;
    top: 44.6em;
    left: 50%;
    left: -99999px;
    width: 20em;
    margin-left: -10em;
    text-align: center;
    .csstransitions & {
        .opacity(0);
        .transition(opacity 0.5s);
    }
}
.catalog_info_title {
    .pf_reg;
    text-transform: uppercase;
    font-size: 1.5em;
    line-height: 1.2em;
    margin-bottom: 0.5em;
    margin-left: -4em;
    margin-right: -4em;
}
.catalog_info_text {
    .pf_med;
    text-transform: uppercase;
    font-size: 0.875em;
    line-height: 1.45em;
    margin-left: -4em;
    margin-right: -4em;
}
.catalog_info_point {
    position: relative;
    margin: 0 auto 1em;
    .border-radius(50%);
    background: white;
    width: 0.7em;
    height: 0.7em;
    display: block;
    display: none;
}
.catalog_item_link {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -4em;
    width: 8em;
    height: 10em;
    background: #000000;
    .opacity(0.5);
}
.catalog_shadow {
    position: absolute;
    top: 43.9em;
    left: 50%;
    width: 119.1em;
    margin-left: -59.4em;
    img {
        width: 100%;
        display: block;
    }
    .small & {
        top: 40.5em;
    }
}
.smallSize {
    .catalog_info_wrap {
        font-size: 12px;
    }
}
.catalog_info_link {
    display: none;
    position: absolute;
    top: 41.5em;
    left: 50%;
    margin-left: -3.2em;
    width: 6.4em;
    img {
        display: block;
        width: 100%;
    }
    .small & {
        top: 39em;
        margin-left: -3.2em;
    }
}
.catalog_popup_list {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 20;
}
.catalog_popup_overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #4f382a;
    .opacity(0.8);
}
.catalog_popup_item {
    position: absolute;
    left: -99999px;
    top: 0;
    width: 100%;
    height: 100%;
    &.active {
        left: 0;
    }
}
.catalog_popup_close {
    position: absolute;
    right: 1.9em;
    top: 1.9em;
    width: 3.6em;
    img {
        display: block;
        width: 100%;
    }
}
.catalog_popup_wrap {
    position: relative;
    padding-top: 12.5em;
    width: 32em;
    margin-left: -16em;
    left: 50%;
    text-align: center;
    color: white;
}
.catalog_popup_title {
    font-size: 3.6em;
    line-height: 1em;
    margin-bottom: 1.05em;
    text-transform: uppercase;
    .pf_light;
}
.catalog_popup_descr {
    font-size: 1.4em;
    line-height: 1.1em;
    margin-bottom: 1.7em;
    .pf_light;
}
.catalog_popup_cont {
    font-size: 1.1em;
    line-height: 1.1em;
    .pf_reg;
}
.catalog_home {
    color: #2b8400;
    position: absolute;
    font-size: 0.9em;
    line-height: 1em;
    left: 50%;
    width: 20em;
    margin-left: -10em;
    top: 1.3em;
    text-transform: uppercase;
    .pf_med;
    text-align: center;
    .smallSize & {
        font-size: 1.3em;
        top: 1.1em;
    }
}