//----------fonts section-----------//
@font-face {
    font-family: 'pf_din_text_cond_proregular';
    src: url('/fonts/pfdintextcondpro-regular-webfont.eot');
    src: url('/fonts/pfdintextcondpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/pfdintextcondpro-regular-webfont.woff2') format('woff2'),
    url('/fonts/pfdintextcondpro-regular-webfont.woff') format('woff'),
    url('/fonts/pfdintextcondpro-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
.pf_reg {
    font-family: 'pf_din_text_cond_proregular';
}



@font-face {
    font-family: 'pf_din_text_cond_prolight';
    src: url('/fonts/ufonts.com_pfdintextcondpro-light-webfont.eot');
    src: url('/fonts/ufonts.com_pfdintextcondpro-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/ufonts.com_pfdintextcondpro-light-webfont.woff2') format('woff2'),
    url('/fonts/ufonts.com_pfdintextcondpro-light-webfont.woff') format('woff'),
    url('/fonts/ufonts.com_pfdintextcondpro-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
.pf_light {
    font-family: 'pf_din_text_cond_prolight';
}



@font-face {
    font-family: 'pf_din_text_cond_prothin';
    src: url('/fonts/z2b08kh4-webfont.eot');
    src: url('/fonts/z2b08kh4-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/z2b08kh4-webfont.woff2') format('woff2'),
    url('/fonts/z2b08kh4-webfont.woff') format('woff'),
    url('/fonts/z2b08kh4-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
.pf_thin {
    font-family: 'pf_din_text_cond_prothin';
}




@font-face {
    font-family: 'pf_din_text_cond_promedium';
    src: url('/fonts/pfdintextcondpro-medium-webfont.eot');
    src: url('/fonts/pfdintextcondpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/pfdintextcondpro-medium-webfont.woff2') format('woff2'),
    url('/fonts/pfdintextcondpro-medium-webfont.woff') format('woff'),
    url('/fonts/pfdintextcondpro-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
.pf_med {
    font-family: 'pf_din_text_cond_promedium';
}