//----------footer section-----------//
.footer {
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.footer_copy {
    position: absolute;
    left: 40px;
    color: #7d746f;
    font-size: 0.86em;
    line-height: 1em;
    top: 1.3em;
    .pf_med;
    text-transform: uppercase;
}
.footer_link {
    position: absolute;
    right: 40px;
    color: #7d746f;
    font-size: 0.86em;
    line-height: 1em;
    top: 1.3em;
    .pf_med;
    text-transform: uppercase;
    text-decoration: underline;
}