//----------header section-----------//
.header {
    height: 80px;
    position: relative;
}
.logo {
    position: absolute;
    left: 40px;
    top: 15px;
    width: 128px;
    height: 41px;
    img {
        display: block;
        width: 100%;
    }
    span {
        position: absolute;
        left: -99999px;
    }
}
.header_soc_list {
    position: absolute;
    right: 40px;
    top: 29px;
    list-style: none;
    white-space: nowrap;
}
.header_soc_item {
    .inlineblock;
    margin-left: 53px;
}
.header_soc_link {
    display: block;
    width: 23px;
    height: 23px;
    overflow: hidden;
    img {
        display: block;
    }
}
.header_text {
    color: #2b8400;
    .pf_light;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    position: absolute;
    top: 29px;
    left: 222px;
}