//----------main section-----------//
.main {
    position: relative;
}
.main_content {
    position: relative;
    height: 75.1em;
}
.main_img {
    position: absolute;
    left: 50%;
    width: 68.9em;
    margin-left: -35.05em;
    top: 4.9em;
}
.main_content_left {
    position: absolute;
    left: 50%;
    margin-left: -50.5em;
    top: 9.7em;
    width: 27.0em;
}
.main_content_right {
    position: absolute;
    left: 50%;
    top: 19.8em;
    margin-left: 25.6em;
    width: 26.75em;
}
.main_left_title {
    font-size: 2.49em;
    line-height: 1.1em;
    .pf_med;
    text-transform: uppercase;
    margin-bottom: 1.2em;
//    white-space: nowrap;
    width: 20em;
    .smallSize & {
        width: 10em;
    }
}
.main_left_text {
    .pf_reg;
    font-size: 1.2em;
    line-height: 1.4em;
    margin-right: 3.4em;
    margin-bottom: 2.5em;
}
.main_left_green {
    position: relative;
    margin-right: 0.7em;
    margin-bottom: 1em;
    p {
        color: #2b8400;
        .pf_light;
        font-size: 2em;
        line-height: 1.3em;
        text-transform: uppercase;
        margin: 0;
    }
    img {
        position: absolute;
        right: 100%;
        top: -0.8em;
        margin-right: 0.8em;
        width: 5.475em;
    }
}
.main_left_benefits {
    color: #4f382a;
    font-size: 1.375em;
    line-height: 1.3em;
    .pf_light;
    p {
        margin: 0;
    }
}
.main_right_title {
    position: absolute;
    bottom: 100%;
    left: 0;
    margin-bottom: 1.9em;
    color: #7d746f;
    font-size: 2em;
    line-height: 1.1em;
    text-transform: uppercase;
    .pf_med;
}
.main_right_text {
    .pf_light;
    .pf_reg;
    font-size: 1.20em;
    line-height: 1.2em;
    color: #4f382a;
    margin-bottom: 1.8em;
    margin-right: -1em;
    p {
        margin: 0;
    }
}
.main_right_green {
    .pf_reg;
    color: #2b8400;
    font-size: 1em;
    line-height: 1.2em;
    margin-bottom: 2.55em;
    p {
        margin: 0;
    }
}
.main_right_arrow {
    position: absolute;
    right: 100%;
    top: 0.45em;
    margin-right: 3.57em;
    width: 3.98em;
    img {
        display: block;
        width: 100%;
    }
}
.main_right_btn {
    position: relative;
    .inlineblock;
    height: 2.81em;
    .clearfix;
}
.main_btn_left {
    position: relative;
    float: left;
    white-space: nowrap;
    display: block;
    overflow: hidden;
    height: 100%;
    img {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
    }
    span {
        display: block;
        color: #e5e0d4;
        font-size: 1em;
        line-height: 2.81em;
        position: relative;
        padding: 0 1.2em 0 1.2em;
        min-width: 6.9em;
        .pf_reg;
        font-weight: bold;
        text-transform: uppercase;
    }
}
.main_btn_right {
    position: relative;
    float: left;
    white-space: nowrap;
    display: block;
    overflow: hidden;
    width: 2.375em;
    height: 100%;
    img:first-child {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
    }
}
.main_btn_icon {
    position: absolute;
    height: 0.95em;
    top: 50%;
    margin-top: -0.475em;
    left: 50%;
    margin-left: -0.475em;
}

.smallSize {
    .main_right_wrap {
        font-size: 12px;
    }
    .main_left_wrap {
        font-size: 12px;
        .main_left_green img {
            width: 4.2em;
        }
    }
}